# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Typograph selected text'
      'command': 'als-typograph:typograph'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'ALS Typograph'
      'submenu': [
        {
          'label': 'Typograph selected text'
          'command': 'als-typograph:typograph'
        }
      ]
    ]
  }
]
